## Loading the Data

In [1]:
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

In [2]:
agent = pd.read_csv('/Users/barnalikkapradhan/Downloads/Agent_login.csv')
agent

     SL No               Agent       Date  Login Time  Logout Time   Duration
0        1  Shivananda Sonwane  30-Jul-22  3:35:29 PM   5:39:39 PM    2:04:10
1        2      Khushboo Priya  30-Jul-22  3:06:59 PM   3:07:16 PM    0:00:17
2        3       Nandani Gupta  30-Jul-22  3:04:24 PM   5:31:07 PM    2:26:42
3        4     Hrisikesh Neogi  30-Jul-22  2:34:29 PM   3:19:35 PM    0:45:06
4        5             Mukesh   30-Jul-22  2:03:15 PM   3:11:52 PM    1:08:36
..     ...                 ...        ...         ...          ...        ...
995    996        Manjunatha A  20-Jul-22  9:03:51 AM   3:02:28 PM    5:58:37
996    997            Bharath   20-Jul-22  9:00:49 AM   3:01:32 PM    6:00:43
997    998      Khushboo Priya  20-Jul-22  8:59:20 AM   2:26:55 PM    5:27:34
998    999        Nishtha Jain  20-Jul-22  8:43:55 AM   2:00:33 PM    5:16:38
999   1000              Tarun   01-Jul-22  1:52:47 AM  12:01:07 PM  514:08:20

[1000 rows x 6 columns]

In [3]:
b = pd.read_csv('/Users/barnalikkapradhan/Downloads/Agent_performance.csv')
b

,SL No,Date,Agent Name,Total Chats,Average Response Time,Average Resolution Time,Average Rating,Total Feedback
0,1,30/07/22,Prerna Singh,11,0:00:38,0:04:20,4.11,9
1,2,30/07/22,Nandani Gupta,11,0:01:15,0:28:25,3.14,7
2,3,30/07/22,Ameya Jain,14,0:00:30,0:11:36,4.55,11
3,4,30/07/22,Mahesh Sarade,14,0:01:04,0:15:46,4.71,7
4,5,30/07/22,Swati,14,0:01:11,0:16:33,3.67,6
...,...,...,...,...,...,...,...,...
2155,2156,01/07/22,Sowmiya Sivakumar,0,0:00:00,0:00:00,0.00,0
2156,2157,01/07/22,Nitin M,0,0:00:00,0:00:00,0.00,0
2157,2158,01/07/22,Vivek,0,0:00:00,0:00:00,0.00,0
2158,2159,01/07/22,Ayushi Mishra,0,0:00:00,0:00:00,0.00,0
2159,2160,01/07/22,Chaitra K Hiremath,0,0:00:00,0:00:00,0.00,0

## 1 .Find out there avarage rating on weekly basis keep this in a mind that they take two days of leave

In [22]:
pd.set_option('display.max_rows', None)
group = b.groupby(["Agent Name"]).sum()/5
d = group["Average Rating"]
d.sort_values(ascending=False)

Agent Name
Shivananda Sonwane        25.396
Khushboo Priya            22.222
Manjunatha A              21.568
Boktiar Ahmed Bappy       21.408
Ishawant Kumar            21.260
Madhulika G               20.992
Ayushi Mishra             20.892
Jawala Prakash            20.832
Sanjeev Kumar             20.298
Nishtha Jain              19.694
Prerna Singh              19.396
Shubham Sharma            19.352
Jaydeep Dixit             19.002
Hrisikesh Neogi           18.818
Bharath                   17.902
Maitry                    17.562
Nandani Gupta             17.542
Deepranjan Gupta          17.320
Rishav Dash               17.122
Shivan K                  17.048
Harikrishnan Shaji        15.838
Prabir Kumar Satapathy    15.062
Prateek _iot              14.630
Swati                     14.542
Mahesh Sarade             14.402
Wasim                     14.400
Mithun S                  14.154
Aditya_iot                14.072
Zeeshan                   13.722
Ameya Jain                13.318
Aravind                   13.088
Saikumarreddy N           11.882
Aditya Shinde             10.802
Sowmiya Sivakumar          7.560
Jayant Kumar               6.412
Shiva Srivastava           5.668
Chaitra K Hiremath         5.188
Muskan Garg                4.274
Anirudh                    3.870
Saurabh Shukla             3.334
Vivek                      3.004
Sandipan Saha              2.574
Sudhanshu Kumar            2.000
Suraj S Bilgi              1.872
Mukesh                     1.858
Ankitjha                   1.600
Mukesh Rao                 1.534
Anurag Tiwari              1.100
Ashad Nasim                1.000
Maneesh                    1.000
Shivan_S                   0.850
Mahak                      0.600
Tarun                      0.300
Spuri                      0.000
Amersh                     0.000
Uday Mishra                0.000
Vasanth P                  0.000
Samprit                    0.000
Ankit Sharma               0.000
Sanjeevan                  0.000
Saif Khan                  0.000
Rohan                      0.000
Ashish                     0.000
Nitin M                    0.000
Dibyanshu                  0.000
Aditya                     0.000
Hitesh Choudhary           0.000
Hyder Abbas                0.000
Ineuron Intelligence       0.000
Abhishek                   0.000
Name: Average Rating, dtype: float64

## 2 .Total working days for each agents

In [5]:
agent['Date']=pd.to_datetime(agent['Date'])

In [6]:
group = agent.groupby(["Agent"]).nunique()
d = group["Date"]
d.sort_values(ascending=False)

Agent
Ishawant Kumar            11
Shubham Sharma            11
Prateek _iot              11
Anurag Tiwari             10
Shivananda Sonwane        10
Deepranjan Gupta          10
Zeeshan                    9
Dibyanshu                  9
Jawala Prakash             9
Sanjeev Kumar              9
Hrisikesh Neogi            9
Harikrishnan Shaji         9
Prerna Singh               9
Boktiar Ahmed Bappy        9
Ayushi Mishra              9
Nandani Gupta              9
Wasim                      9
Madhulika G                8
Mithun S                   8
Aditya_iot                 8
Mahesh Sarade              8
Shiva Srivastava           8
Khushboo Priya             8
Shivan K                   8
Bharath                    8
Sowmiya Sivakumar          8
Nishtha Jain               8
Rishav Dash                7
Saikumarreddy N            7
Prabir Kumar Satapathy     7
Manjunatha A               7
Aravind                    7
Jaydeep Dixit              7
Chaitra K Hiremath         7
Ameya Jain                 7
Muskan Garg                6
Sudhanshu Kumar            6
Maitry                     5
Saurabh Shukla             4
Swati                      4
Mukesh                     2
Amersh                     2
Hyder Abbas                2
Ankitjha                   2
Suraj S Bilgi              2
Tarun                      1
Nitin M                    1
Ineuron Intelligence       1
Aditya Shinde              1
Name: Date, dtype: int64

## 3. Total query that you have taken

In [23]:
group = b.groupby(["Agent Name"]).sum()
tot_query = group["Total Chats"]
tot_query.sort_values(ascending = False)

Agent Name
Hrisikesh Neogi           578
Nandani Gupta             560
Zeeshan                   542
Maitry                    542
Swati                     524
Ayushi Mishra             514
Jaydeep Dixit             512
Shubham Sharma            510
Sanjeev Kumar             507
Mithun S                  503
Deepranjan Gupta          493
Madhulika G               469
Boktiar Ahmed Bappy       452
Khushboo Priya            446
Shivananda Sonwane        441
Jawala Prakash            439
Wasim                     433
Manjunatha A              413
Rishav Dash               409
Prerna Singh              401
Harikrishnan Shaji        381
Nishtha Jain              373
Bharath                   369
Aravind                   366
Mahesh Sarade             364
Saikumarreddy N           364
Shivan K                  357
Ishawant Kumar            338
Ameya Jain                322
Prabir Kumar Satapathy    299
Aditya Shinde             277
Aditya_iot                231
Sowmiya Sivakumar         206
Prateek _iot              190
Jayant Kumar              127
Anirudh                    81
Chaitra K Hiremath         64
Muskan Garg                56
Shiva Srivastava           53
Vivek                      44
Sandipan Saha              30
Suraj S Bilgi              28
Tarun                      22
Mukesh                     19
Ashad Nasim                18
Saurabh Shukla             16
Mahak                       7
Shivan_S                    7
Mukesh Rao                  5
Ankitjha                    5
Anurag Tiwari               4
Maneesh                     4
Sudhanshu Kumar             2
Samprit                     1
Dibyanshu                   1
Hitesh Choudhary            1
Vasanth P                   0
Spuri                       0
Uday Mishra                 0
Ashish                      0
Saif Khan                   0
Sanjeevan                   0
Amersh                      0
Ineuron Intelligence        0
Rohan                       0
Nitin M                     0
Aditya                      0
Hyder Abbas                 0
Ankit Sharma                0
Abhishek                    0
Name: Total Chats, dtype: int64

## 4. Total Feedback that you have received

In [8]:
n = len(b['Total Feedback'])
print("No of Total Feedback :",n)

No of Total Feedback : 2160

## 5. Agent name who have average rating between 3.5 to 4

In [24]:
H=b[(b['Average Rating']>3.5)& (b['Average Rating']<4)]
H.loc[:,['Agent Name','Average Rating']]

               Agent Name  Average Rating
4                  Swati             3.67
10           Manjunatha A            3.60
76          Prateek _iot             3.75
78          Nandani Gupta            3.79
80          Jaydeep Dixit            3.95
82          Mahesh Sarade            3.94
83               Zeeshan             3.79
91        Hrisikesh Neogi            3.77
157        Khushboo Priya            3.79
158                Wasim             3.95
217        Jawala Prakash            3.89
232          Nishtha Jain            3.67
294         Nandani Gupta            3.61
296          Prerna Singh            3.80
355   Boktiar Ahmed Bappy            3.80
365           Muskan Garg            3.62
375    Harikrishnan Shaji            3.73
380                Wasim             3.92
434      Deepranjan Gupta            3.69
439         Mahesh Sarade            3.81
444          Nishtha Jain            3.92
446              Shivan K            3.90
447           Madhulika G            3.62
448           Rishav Dash            3.80
506               Maitry             3.73
516          Nishtha Jain            3.69
517        Khushboo Priya            3.95
575   Boktiar Ahmed Bappy            3.77
588           Rishav Dash            3.67
595              Mithun S            3.75
647        Jawala Prakash            3.68
649           Aditya_iot             3.86
726                Swati             3.77
733         Nandani Gupta            3.73
735           Madhulika G            3.86
790   Boktiar Ahmed Bappy            3.90
859        Ishawant Kumar            3.75
860   Boktiar Ahmed Bappy            3.81
863      Deepranjan Gupta            3.75
866      Deepranjan Gupta            3.56
873    Harikrishnan Shaji            3.93
946         Nandani Gupta            3.67
947         Mahesh Sarade            3.81
950                Swati             3.76
951               Maitry             3.73
952           Rishav Dash            3.89
1008          Madhulika G            3.87
1010        Ayushi Mishra            3.88
1011   Shivananda Sonwane            3.53
1022        Mahesh Sarade            3.85
1027             Mithun S            3.85
1076       Ishawant Kumar            3.67
1086          Aditya_iot             3.53
1171        Sandipan Saha            3.62
1221          Madhulika G            3.82
1232        Ayushi Mishra            3.86
1235      Hrisikesh Neogi            3.80
1238        Nandani Gupta            3.89
1242   Harikrishnan Shaji            3.70
1292         Nishtha Jain            3.67
1296             Anirudh             3.77
1302               Swati             3.62
1303              Maitry             3.75
1316             Zeeshan             3.75
1366         Nishtha Jain            3.73
1378               Wasim             3.64
1439       Ishawant Kumar            3.67
1454         Jayant Kumar            3.76
1596             Mithun S            3.86
1669       Saurabh Shukla            3.67
1671          Aditya_iot             3.83
1727              Maitry             3.92
1748   Shivananda Sonwane            3.71
1869  Boktiar Ahmed Bappy            3.78
1874        Ayushi Mishra            3.80
1941       Jawala Prakash            3.80
2021        Aditya Shinde            3.54
2023     Deepranjan Gupta            3.71

## 6 . Agent name who have rating lesss then 3.5

In [10]:
df=b['Agent Name'][b["Average Rating"] < 3.5]
df.value_counts().index
for i in df.value_counts().index:
    print(i)

Ashish
Rishav Dash
Mahak
Abhishek
Spuri
Nitin M
Rohan
Hyder Abbas
Hitesh Choudhary
Saif Khan
Ineuron Intelligence
Amersh
Vasanth P
Ankit Sharma
Tarun
Aditya
Dibyanshu
Uday Mishra
Samprit
Sanjeevan
Mukesh Rao
Maneesh
Anurag Tiwari
Vivek
Ankitjha
Shivan_S
Ashad Nasim
Suraj S Bilgi
Mukesh
Sudhanshu Kumar
Saurabh Shukla
Sandipan Saha
Anirudh
Jayant Kumar
Muskan Garg
Chaitra K Hiremath
Shiva Srivastava
Sowmiya Sivakumar
Aditya Shinde
Saikumarreddy N
Aditya_iot
Aravind
Ameya Jain
Mahesh Sarade
Mithun S
Zeeshan
Wasim
Prateek _iot
Prabir Kumar Satapathy
Harikrishnan Shaji
Swati
Nandani Gupta
Shivan K
Bharath
Deepranjan Gupta
Maitry
Prerna Singh
Hrisikesh Neogi
Jaydeep Dixit
Shubham Sharma
Sanjeev Kumar
Nishtha Jain
Jawala Prakash
Ayushi Mishra
Ishawant Kumar
Manjunatha A
Madhulika G
Boktiar Ahmed Bappy
Khushboo Priya
Shivananda Sonwane

## 7 . Agent name who have rating more then 4.5

In [11]:
df=b['Agent Name'][b["Average Rating"] > 4.5]
df.value_counts().index
for i in df.value_counts().index:
    print(i)

Shivananda Sonwane
Bharath
Manjunatha A
Jaydeep Dixit
Khushboo Priya
Shubham Sharma
Ishawant Kumar
Hrisikesh Neogi
Aravind
Sanjeev Kumar
Wasim
Shivan K
Prerna Singh
Prateek _iot
Madhulika G
Ayushi Mishra
Ameya Jain
Saikumarreddy N
Boktiar Ahmed Bappy
Swati
Aditya Shinde
Nandani Gupta
Maitry
Deepranjan Gupta
Harikrishnan Shaji
Nishtha Jain
Aditya_iot
Prabir Kumar Satapathy
Jawala Prakash
Mithun S
Mahesh Sarade
Zeeshan
Rishav Dash
Chaitra K Hiremath
Muskan Garg
Mukesh
Sudhanshu Kumar
Jayant Kumar
Saurabh Shukla
Anirudh
Vivek
Mukesh Rao
Shiva Srivastava
Suraj S Bilgi
Sandipan Saha
Sowmiya Sivakumar
Ankitjha

## 8 . How many feedback agents have received more then 4.5 average

In [41]:
A=b[b["Average Rating"] > 4.5]
A.loc[0:6,['Agent Name','Average Rating','Total Feedback']]

        Agent Name  Average Rating  Total Feedback
2       Ameya Jain            4.55              11
3    Mahesh Sarade            4.71               7
5          Mukesh             4.62               8
6  Saikumarreddy N            5.00              12

## 9 . Average weekly response time for each agent

In [13]:
b[['hh','mm','ss']]=b["Average Response Time"].str.split(":",expand=True)

b['hh']=b['hh'].astype(int)
b['mm']=b['mm'].astype(int)
b['ss']=b['ss'].astype(int)

b["response_in_sec"]=(b['hh']*3600) + (b['mm']*60) + (b['ss'])
b.head()

,SL No,Date,Agent Name,Total Chats,Average Response Time,Average Resolution Time,Average Rating,Total Feedback,hh,mm,ss,response_in_sec
0,1,30/07/22,Prerna Singh,11,0:00:38,0:04:20,4.11,9,0,0,38,38
1,2,30/07/22,Nandani Gupta,11,0:01:15,0:28:25,3.14,7,0,1,15,75
2,3,30/07/22,Ameya Jain,14,0:00:30,0:11:36,4.55,11,0,0,30,30
3,4,30/07/22,Mahesh Sarade,14,0:01:04,0:15:46,4.71,7,0,1,4,64
4,5,30/07/22,Swati,14,0:01:11,0:16:33,3.67,6,0,1,11,71

In [25]:
#Response Time in seconds
group = b.groupby(["Agent Name"]).sum()/5
res = group["response_in_sec"]
res.sort_values(ascending = False)

Agent Name
Jawala Prakash            565.4
Madhulika G               398.6
Boktiar Ahmed Bappy       396.2
Maitry                    383.0
Zeeshan                   370.4
Khushboo Priya            367.8
Nishtha Jain              364.8
Rishav Dash               363.8
Ayushi Mishra             362.0
Nandani Gupta             359.2
Swati                     346.8
Shivananda Sonwane        336.0
Deepranjan Gupta          319.2
Sanjeev Kumar             307.2
Hrisikesh Neogi           303.0
Ishawant Kumar            300.8
Shubham Sharma            290.0
Shivan K                  287.4
Prerna Singh              286.0
Mahesh Sarade             278.6
Jaydeep Dixit             266.4
Ashad Nasim               231.8
Prabir Kumar Satapathy    228.0
Manjunatha A              217.0
Harikrishnan Shaji        203.8
Aditya_iot                203.8
Aditya Shinde             178.4
Wasim                     178.2
Mithun S                  173.6
Bharath                   160.8
Sowmiya Sivakumar         157.0
Saikumarreddy N           151.0
Prateek _iot              135.0
Anirudh                   130.6
Aravind                   128.2
Ameya Jain                126.8
Jayant Kumar              110.6
Chaitra K Hiremath         90.8
Vivek                      82.2
Mukesh Rao                 78.8
Shiva Srivastava           60.0
Anurag Tiwari              50.6
Suraj S Bilgi              36.4
Muskan Garg                35.6
Sandipan Saha              35.4
Maneesh                    27.0
Ankitjha                   26.6
Sudhanshu Kumar            24.0
Saurabh Shukla             21.0
Mukesh                     20.0
Shivan_S                   14.6
Dibyanshu                   7.6
Vasanth P                   0.0
Spuri                       0.0
Uday Mishra                 0.0
Amersh                      0.0
Tarun                       0.0
Samprit                     0.0
Ankit Sharma                0.0
Sanjeevan                   0.0
Mahak                       0.0
Saif Khan                   0.0
Rohan                       0.0
Ashish                      0.0
Nitin M                     0.0
Aditya                      0.0
Hitesh Choudhary            0.0
Hyder Abbas                 0.0
Ineuron Intelligence        0.0
Abhishek                    0.0
Name: response_in_sec, dtype: float64

## 10 . Average weekely resolution time for each agents

In [15]:
b[['hh','mm','ss']]=b["Average Resolution Time"].str.split(":",expand=True)

b['hh']=b['hh'].astype(int)
b['mm']=b['mm'].astype(int)
b['ss']=b['ss'].astype(int)

b["resolution_in_sec"]=(b['hh']*3600) + (b['mm']*60) + (b['ss'])
b.head()

,SL No,Date,Agent Name,Total Chats,Average Response Time,Average Resolution Time,Average Rating,Total Feedback,hh,mm,ss,response_in_sec,resolution_in_sec
0,1,30/07/22,Prerna Singh,11,0:00:38,0:04:20,4.11,9,0,4,20,38,260
1,2,30/07/22,Nandani Gupta,11,0:01:15,0:28:25,3.14,7,0,28,25,75,1705
2,3,30/07/22,Ameya Jain,14,0:00:30,0:11:36,4.55,11,0,11,36,30,696
3,4,30/07/22,Mahesh Sarade,14,0:01:04,0:15:46,4.71,7,0,15,46,64,946
4,5,30/07/22,Swati,14,0:01:11,0:16:33,3.67,6,0,16,33,71,993

In [26]:
#Resolution time in seconds
group = b.groupby(["Agent Name"]).sum()/5
resolve = group["resolution_in_sec"]
resolve.sort_values(ascending = False)

Agent Name
Shivananda Sonwane        7611.6
Deepranjan Gupta          7507.0
Nandani Gupta             6538.2
Jaydeep Dixit             6486.4
Shubham Sharma            6259.0
Sanjeev Kumar             6189.8
Boktiar Ahmed Bappy       6143.0
Rishav Dash               6114.6
Manjunatha A              6105.2
Khushboo Priya            6026.6
Prerna Singh              5948.4
Shivan K                  5709.6
Madhulika G               5595.4
Hrisikesh Neogi           5557.8
Ayushi Mishra             5535.6
Ishawant Kumar            5190.6
Jawala Prakash            4682.6
Maitry                    4602.4
Swati                     4419.4
Wasim                     4133.2
Harikrishnan Shaji        4070.6
Bharath                   3885.6
Zeeshan                   3870.4
Aditya Shinde             3723.8
Aditya_iot                3535.8
Nishtha Jain              3350.4
Mahesh Sarade             3297.0
Aravind                   3213.4
Prateek _iot              2917.4
Mukesh Rao                2763.4
Saikumarreddy N           2240.2
Sowmiya Sivakumar         2144.0
Prabir Kumar Satapathy    2139.8
Mithun S                  2080.0
Ameya Jain                1971.0
Jayant Kumar              1769.6
Anirudh                   1112.8
Sandipan Saha              947.0
Suraj S Bilgi              946.0
Vivek                      916.6
Sudhanshu Kumar            701.8
Muskan Garg                691.2
Tarun                      542.8
Chaitra K Hiremath         533.8
Shiva Srivastava           532.8
Mukesh                     455.6
Anurag Tiwari              443.6
Saurabh Shukla             428.4
Ankitjha                   326.8
Maneesh                    250.0
Mahak                      240.8
Shivan_S                   220.4
Dibyanshu                  148.0
Ashad Nasim                125.6
Samprit                     20.6
Hitesh Choudhary            17.0
Amersh                       0.0
Vasanth P                    0.0
Spuri                        0.0
Uday Mishra                  0.0
Sanjeevan                    0.0
Ankit Sharma                 0.0
Aditya                       0.0
Ashish                       0.0
Saif Khan                    0.0
Rohan                        0.0
Hyder Abbas                  0.0
Nitin M                      0.0
Ineuron Intelligence         0.0
Abhishek                     0.0
Name: resolution_in_sec, dtype: float64

## 11 . List of all agents name

In [27]:
c = b.groupby(['Agent Name'])['Agent Name'].nunique()
c

Agent Name
Abhishek                  1
Aditya                    1
Aditya Shinde             1
Aditya_iot                1
Amersh                    1
Ameya Jain                1
Anirudh                   1
Ankit Sharma              1
Ankitjha                  1
Anurag Tiwari             1
Aravind                   1
Ashad Nasim               1
Ashish                    1
Ayushi Mishra             1
Bharath                   1
Boktiar Ahmed Bappy       1
Chaitra K Hiremath        1
Deepranjan Gupta          1
Dibyanshu                 1
Harikrishnan Shaji        1
Hitesh Choudhary          1
Hrisikesh Neogi           1
Hyder Abbas               1
Ineuron Intelligence      1
Ishawant Kumar            1
Jawala Prakash            1
Jayant Kumar              1
Jaydeep Dixit             1
Khushboo Priya            1
Madhulika G               1
Mahak                     1
Mahesh Sarade             1
Maitry                    1
Maneesh                   1
Manjunatha A              1
Mithun S                  1
Mukesh                    1
Mukesh Rao                1
Muskan Garg               1
Nandani Gupta             1
Nishtha Jain              1
Nitin M                   1
Prabir Kumar Satapathy    1
Prateek _iot              1
Prerna Singh              1
Rishav Dash               1
Rohan                     1
Saif Khan                 1
Saikumarreddy N           1
Samprit                   1
Sandipan Saha             1
Sanjeev Kumar             1
Sanjeevan                 1
Saurabh Shukla            1
Shiva Srivastava          1
Shivan K                  1
Shivan_S                  1
Shivananda Sonwane        1
Shubham Sharma            1
Sowmiya Sivakumar         1
Spuri                     1
Sudhanshu Kumar           1
Suraj S Bilgi             1
Swati                     1
Tarun                     1
Uday Mishra               1
Vasanth P                 1
Vivek                     1
Wasim                     1
Zeeshan                   1
Name: Agent Name, dtype: int64

## 12 . Percentage of chat on which they have received a feedback

In [36]:
da=b[b["Total Feedback"] > 0]
da=da.groupby(['Agent Name'])['Total Chats','Total Feedback'].sum()
da['Feedback_percent'] = (da['Total Feedback']*100/da['Total Chats'])
da.sort_values("Feedback_percent",ascending=False)

                        Total Chats  Total Feedback  Feedback_percent
Agent Name
Mukesh Rao                        5               5        100.000000
Maneesh                           3               3        100.000000
Sudhanshu Kumar                   2               2        100.000000
Mukesh                           19              17         89.473684
Shiva Srivastava                 53              46         86.792453
Saikumarreddy N                 364             290         79.670330
Ankitjha                          4               3         75.000000
Anurag Tiwari                     4               3         75.000000
Prabir Kumar Satapathy          299             222         74.247492
Mithun S                        503             364         72.365805
Mahak                             7               5         71.428571
Ameya Jain                      322             228         70.807453
Boktiar Ahmed Bappy             450             311         69.111111
Nishtha Jain                    373             257         68.900804
Shivan K                        355             243         68.450704
Sowmiya Sivakumar               206             141         68.446602
Bharath                         369             247         66.937669
Muskan Garg                      56              37         66.071429
Wasim                           433             284         65.588915
Khushboo Priya                  444             289         65.090090
Rishav Dash                     407             264         64.864865
Maitry                          542             347         64.022140
Ayushi Mishra                   514             329         64.007782
Aravind                         366             233         63.661202
Hrisikesh Neogi                 578             367         63.494810
Deepranjan Gupta                492             312         63.414634
Zeeshan                         542             335         61.808118
Manjunatha A                    411             254         61.800487
Sanjeev Kumar                   507             311         61.341223
Harikrishnan Shaji              381             231         60.629921
Sandipan Saha                    30              18         60.000000
Madhulika G                     469             281         59.914712
Ishawant Kumar                  338             202         59.763314
Shivananda Sonwane              441             263         59.637188
Jaydeep Dixit                   512             305         59.570312
Mahesh Sarade                   364             216         59.340659
Shubham Sharma                  510             300         58.823529
Prerna Singh                    401             235         58.603491
Chaitra K Hiremath               64              37         57.812500
Swati                           524             302         57.633588
Shivan_S                          7               4         57.142857
Jawala Prakash                  439             250         56.947608
Aditya_iot                      231             131         56.709957
Prateek _iot                    189             107         56.613757
Aditya Shinde                   277             153         55.234657
Jayant Kumar                    127              70         55.118110
Nandani Gupta                   560             308         55.000000
Suraj S Bilgi                    28              15         53.571429
Saurabh Shukla                   16               8         50.000000
Ashad Nasim                      18               9         50.000000
Anirudh                          80              39         48.750000
Vivek                            44              20         45.454545
Tarun                            22               6         27.272727

## 13 . Total contribution hour for each and every agents weekly basis

In [37]:
agent[['hh','mm','ss']]=agent["Duration"].str.split(":",expand=True)

agent['hh']=agent['hh'].astype(int)
agent['mm']=agent['mm'].astype(int)
agent['ss']=agent['ss'].astype(int)

agent["hourly_basis"]=(agent['hh']*3600) + (agent['mm']*60) + (agent['ss'])
agent.head()

,SL No,Agent,Date,Login Time,Logout Time,Duration,hh,mm,ss,hourly_basis
0,1,Shivananda Sonwane,2022-07-30,3:35:29 PM,5:39:39 PM,2:04:10,2,4,10,7450
1,2,Khushboo Priya,2022-07-30,3:06:59 PM,3:07:16 PM,0:00:17,0,0,17,17
2,3,Nandani Gupta,2022-07-30,3:04:24 PM,5:31:07 PM,2:26:42,2,26,42,8802
3,4,Hrisikesh Neogi,2022-07-30,2:34:29 PM,3:19:35 PM,0:45:06,0,45,6,2706
4,5,Mukesh,2022-07-30,2:03:15 PM,3:11:52 PM,1:08:36,1,8,36,4116

In [21]:
group = agent.groupby(["Agent"]).sum()/5
hr = group["hourly_basis"]
hr.sort_values(ascending = False)

Agent
Tarun                     370180.0
Deepranjan Gupta           76518.2
Jaydeep Dixit              43085.2
Hrisikesh Neogi            41449.4
Shubham Sharma             38734.8
Harikrishnan Shaji         38674.6
Dibyanshu                  37869.0
Ishawant Kumar             37280.8
Shivananda Sonwane         35487.2
Zeeshan                    35343.8
Wasim                      34689.0
Bharath                    34615.2
Jawala Prakash             33409.6
Sudhanshu Kumar            33286.4
Madhulika G                33163.4
Prerna Singh               32915.2
Mithun S                   32525.0
Sowmiya Sivakumar          32223.0
Sanjeev Kumar              32174.8
Nishtha Jain               31574.0
Khushboo Priya             31362.2
Saikumarreddy N            31059.0
Mahesh Sarade              30903.8
Ameya Jain                 30294.4
Rishav Dash                30078.4
Manjunatha A               29717.8
Boktiar Ahmed Bappy        28993.4
Nandani Gupta              28924.0
Ayushi Mishra              27447.6
Shivan K                   25993.6
Chaitra K Hiremath         24714.4
Prabir Kumar Satapathy     24031.6
Maitry                     22280.4
Swati                      18000.8
Aravind                    17495.4
Prateek _iot               13261.0
Muskan Garg                12481.6
Saurabh Shukla             11997.4
Aditya_iot                 11326.4
Shiva Srivastava           10795.8
Suraj S Bilgi               9042.6
Mukesh                      6411.6
Amersh                      2206.0
Anurag Tiwari               2000.8
Ankitjha                    1632.2
Ineuron Intelligence        1043.0
Nitin M                      575.2
Hyder Abbas                  279.4
Aditya Shinde                 26.0
Name: hourly_basis, dtype: float64