## 1.Read this dataset in pandas

In [1]:
import mysql.connector
from mysql.connector import Error
from sqlalchemy import create_engine
import pandas as pd

In [2]:
df = pd.read_csv('/Users/barnalikkapradhan/Downloads/FitBit.csv')
df

,Id,ActivityDate,TotalSteps,TotalDistance,TrackerDistance,LoggedActivitiesDistance,VeryActiveDistance,ModeratelyActiveDistance,LightActiveDistance,SedentaryActiveDistance,VeryActiveMinutes,FairlyActiveMinutes,LightlyActiveMinutes,SedentaryMinutes,Calories
0,1503960366,3/25/2016,11004,7.110000,7.110000,0.0,2.57,0.46,4.07,0.00,33,12,205,804,1819
1,1503960366,3/26/2016,17609,11.550000,11.550000,0.0,6.92,0.73,3.91,0.00,89,17,274,588,2154
2,1503960366,3/27/2016,12736,8.530000,8.530000,0.0,4.66,0.16,3.71,0.00,56,5,268,605,1944
3,1503960366,3/28/2016,13231,8.930000,8.930000,0.0,3.19,0.79,4.95,0.00,39,20,224,1080,1932
4,1503960366,3/29/2016,12041,7.850000,7.850000,0.0,2.16,1.09,4.61,0.00,28,28,243,763,1886
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
452,8877689391,4/8/2016,23014,20.389999,20.389999,0.0,11.10,0.63,8.62,0.00,70,29,359,982,4196
453,8877689391,4/9/2016,16470,8.070000,8.070000,0.0,0.00,0.02,8.02,0.00,90,9,289,1052,3841
454,8877689391,4/10/2016,28497,27.530001,27.530001,0.0,21.92,1.12,4.46,0.00,128,46,211,1055,4526
455,8877689391,4/11/2016,10622,8.060000,8.060000,0.0,1.47,0.15,6.37,0.01,18,7,225,1190,2820
456,8877689391,4/12/2016,2350,1.780000,1.780000,0.0,0.00,0.00,1.78,0.00,0,0,58,531,938

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 457 entries, 0 to 456
Data columns (total 15 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Id                        457 non-null    int64
 1   ActivityDate              457 non-null    object
 2   TotalSteps                457 non-null    int64
 3   TotalDistance             457 non-null    float64
 4   TrackerDistance           457 non-null    float64
 5   LoggedActivitiesDistance  457 non-null    float64
 6   VeryActiveDistance        457 non-null    float64
 7   ModeratelyActiveDistance  457 non-null    float64
 8   LightActiveDistance       457 non-null    float64
 9   SedentaryActiveDistance   457 non-null    float64
 10  VeryActiveMinutes         457 non-null    int64
 11  FairlyActiveMinutes       457 non-null    int64
 12  LightlyActiveMinutes      457 non-null    int64
 13  SedentaryMinutes          457 non-null    int64
 14  Calories                  457 non-null    int64
dtypes: float64(7), int64(7), object(1)
memory usage: 53.7+ KB

## 2. Load the data in bulk in you mysql via Python

In [4]:
engine = create_engine('mysql+mysqlconnector://root:Boomclap4!@localhost:3306/TESTU',echo=False)

In [5]:
df.to_sql('FITBIT', con= engine, if_exists='append', index = False)

## 3. Convert all the dates available in dataset to timestamp format in pandas

In [6]:
df['ActivityDate'] = df['ActivityDate'].apply(lambda x: pd.Timestamp(x).strftime("%Y-%m-%d %I:%M %p"))
df

,Id,ActivityDate,TotalSteps,TotalDistance,TrackerDistance,LoggedActivitiesDistance,VeryActiveDistance,ModeratelyActiveDistance,LightActiveDistance,SedentaryActiveDistance,VeryActiveMinutes,FairlyActiveMinutes,LightlyActiveMinutes,SedentaryMinutes,Calories
0,1503960366,2016-03-25 12:00 AM,11004,7.110000,7.110000,0.0,2.57,0.46,4.07,0.00,33,12,205,804,1819
1,1503960366,2016-03-26 12:00 AM,17609,11.550000,11.550000,0.0,6.92,0.73,3.91,0.00,89,17,274,588,2154
2,1503960366,2016-03-27 12:00 AM,12736,8.530000,8.530000,0.0,4.66,0.16,3.71,0.00,56,5,268,605,1944
3,1503960366,2016-03-28 12:00 AM,13231,8.930000,8.930000,0.0,3.19,0.79,4.95,0.00,39,20,224,1080,1932
4,1503960366,2016-03-29 12:00 AM,12041,7.850000,7.850000,0.0,2.16,1.09,4.61,0.00,28,28,243,763,1886
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
452,8877689391,2016-04-08 12:00 AM,23014,20.389999,20.389999,0.0,11.10,0.63,8.62,0.00,70,29,359,982,4196
453,8877689391,2016-04-09 12:00 AM,16470,8.070000,8.070000,0.0,0.00,0.02,8.02,0.00,90,9,289,1052,3841
454,8877689391,2016-04-10 12:00 AM,28497,27.530001,27.530001,0.0,21.92,1.12,4.46,0.00,128,46,211,1055,4526
455,8877689391,2016-04-11 12:00 AM,10622,8.060000,8.060000,0.0,1.47,0.15,6.37,0.01,18,7,225,1190,2820
456,8877689391,2016-04-12 12:00 AM,2350,1.780000,1.780000,0.0,0.00,0.00,1.78,0.00,0,0,58,531,938

## 4. Find out in this data that how many unique id's we have

In [7]:
n = len(pd.unique(df['Id']))
print("No of unique Id's :",n)

No of unique Id's : 35

## 5.  Which id is one of the active id that you have in whole dataset

In [8]:
#Here we check the most active id according tot he total steps the person has completed in a day.
df[df.TotalSteps == df.TotalSteps.max()]

,Id,ActivityDate,TotalSteps,TotalDistance,TrackerDistance,LoggedActivitiesDistance,VeryActiveDistance,ModeratelyActiveDistance,LightActiveDistance,SedentaryActiveDistance,VeryActiveMinutes,FairlyActiveMinutes,LightlyActiveMinutes,SedentaryMinutes,Calories
454,8877689391,2016-04-10 12:00 AM,28497,27.530001,27.530001,0.0,21.92,1.12,4.46,0.0,128,46,211,1055,4526

## 6. How many of them have not logged there activity find out in terms of number of ids

In [9]:
d=df['Id'][df["LoggedActivitiesDistance"] < 1]
d.value_counts()

4057192912    32
4020332650    32
1503960366    19
1624580081    19
2347167796    15
4702921684    15
4445114986    15
2320127002    12
1844505072    12
8792009665    12
8253242879    12
7086361926    12
2026352035    12
5553957443    12
4558609924    12
8877689391    12
1927972279    12
2022484408    12
3977333714    12
2873212765    12
4319703577    12
5577150313    11
8053475328    11
3372868164    10
1644430081    10
6117666160    10
6290855005    10
6962181067    10
6775888955     9
8583815059     8
4388161847     8
6391747486     7
7007744171     5
2891001357     5
8378563200     5
Name: Id, dtype: int64

## 7 . Find out who is the laziest person id that we have in dataset

In [10]:
#Here the lowest Calories burnt along with high sedentary minutes gives us the list of all the laziest persons 
#which is the same for 5 people unique id's.
df[df.Calories == df.Calories.min()]

,Id,ActivityDate,TotalSteps,TotalDistance,TrackerDistance,LoggedActivitiesDistance,VeryActiveDistance,ModeratelyActiveDistance,LightActiveDistance,SedentaryActiveDistance,VeryActiveMinutes,FairlyActiveMinutes,LightlyActiveMinutes,SedentaryMinutes,Calories
134,2873212765,2016-04-12 12:00 AM,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0,1440,0
240,4319703577,2016-04-09 12:00 AM,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0,1440,0
290,4702921684,2016-04-12 12:00 AM,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0,1440,0
323,6117666160,2016-04-10 12:00 AM,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0,1440,0
412,8253242879,2016-04-12 12:00 AM,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0,1440,0

## 8. Explore over an internet that how much calories burn is required for a healthy person and find out how many healthy person we have in our dataset

In [11]:
Healthy= df[df['Calories'] >= 2500]
Healthy

,Id,ActivityDate,TotalSteps,TotalDistance,TrackerDistance,LoggedActivitiesDistance,VeryActiveDistance,ModeratelyActiveDistance,LightActiveDistance,SedentaryActiveDistance,VeryActiveMinutes,FairlyActiveMinutes,LightlyActiveMinutes,SedentaryMinutes,Calories
38,1644430081,2016-04-01 12:00 AM,4636,3.410000,3.410000,0.0,0.00,0.78,2.60,0.03,0,16,586,838,3323
39,1644430081,2016-04-02 12:00 AM,20237,14.710000,14.710000,0.0,2.57,6.40,5.73,0.01,34,141,347,918,4029
40,1644430081,2016-04-03 12:00 AM,12912,9.410000,9.410000,0.0,4.83,0.77,3.79,0.03,59,16,283,1082,3436
42,1644430081,2016-04-05 12:00 AM,9921,7.210000,7.210000,0.0,0.34,1.52,5.36,0.00,5,35,219,1181,3098
43,1644430081,2016-04-06 12:00 AM,8046,5.850000,5.850000,0.0,1.29,2.12,2.45,0.00,18,41,137,1244,2925
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
451,8877689391,2016-04-07 12:00 AM,10910,8.420000,8.420000,0.0,2.96,0.39,5.03,0.00,32,11,212,1185,2947
452,8877689391,2016-04-08 12:00 AM,23014,20.389999,20.389999,0.0,11.10,0.63,8.62,0.00,70,29,359,982,4196
453,8877689391,2016-04-09 12:00 AM,16470,8.070000,8.070000,0.0,0.00,0.02,8.02,0.00,90,9,289,1052,3841
454,8877689391,2016-04-10 12:00 AM,28497,27.530001,27.530001,0.0,21.92,1.12,4.46,0.00,128,46,211,1055,4526
455,8877689391,2016-04-11 12:00 AM,10622,8.060000,8.060000,0.0,1.47,0.15,6.37,0.01,18,7,225,1190,2820

In [12]:
n = len(Healthy['Calories'])
print("No.of Healthy people in Dataset :",n)

No.of Healthy people in Dataset : 133

## 10. who is the third most active person in this dataset find out those in pandas

In [13]:
#The person with first and second most total steps completed belongs to one id so segregating it 
#and looking into other unique id thereon we get our third most active person id.
Third_active= df.nlargest(n=8,columns=['TotalSteps'])
Third_active

,Id,ActivityDate,TotalSteps,TotalDistance,TrackerDistance,LoggedActivitiesDistance,VeryActiveDistance,ModeratelyActiveDistance,LightActiveDistance,SedentaryActiveDistance,VeryActiveMinutes,FairlyActiveMinutes,LightlyActiveMinutes,SedentaryMinutes,Calories
454,8877689391,2016-04-10 12:00 AM,28497,27.530001,27.530001,0.0,21.92,1.12,4.46,0.00,128,46,211,1055,4526
446,8877689391,2016-04-02 12:00 AM,27572,23.389999,23.389999,0.0,14.72,1.21,7.34,0.01,116,24,260,1040,4220
391,8053475328,2016-04-03 12:00 AM,25701,20.139999,20.139999,0.0,16.82,1.63,1.69,0.00,165,36,97,1142,3697
450,8877689391,2016-04-06 12:00 AM,24136,20.910000,20.910000,0.0,12.22,0.54,8.08,0.00,87,16,318,1019,4039
452,8877689391,2016-04-08 12:00 AM,23014,20.389999,20.389999,0.0,11.10,0.63,8.62,0.00,70,29,359,982,4196
448,8877689391,2016-04-04 12:00 AM,20779,18.410000,18.410000,0.0,11.73,0.65,6.00,0.00,78,16,208,1138,3662
39,1644430081,2016-04-02 12:00 AM,20237,14.710000,14.710000,0.0,2.57,6.40,5.73,0.01,34,141,347,918,4029
390,8053475328,2016-04-02 12:00 AM,20188,15.620000,15.620000,0.0,12.06,0.85,2.71,0.00,124,19,172,1125,3377

In [14]:
Third_active.iloc[6:7]

,Id,ActivityDate,TotalSteps,TotalDistance,TrackerDistance,LoggedActivitiesDistance,VeryActiveDistance,ModeratelyActiveDistance,LightActiveDistance,SedentaryActiveDistance,VeryActiveMinutes,FairlyActiveMinutes,LightlyActiveMinutes,SedentaryMinutes,Calories
39,1644430081,2016-04-02 12:00 AM,20237,14.71,14.71,0.0,2.57,6.4,5.73,0.01,34,141,347,918,4029

## 11. who is the 5th most laziest person avilable in dataset find it out

In [15]:
fifth_laziest = df.nsmallest(n=5,columns=['Calories'])
fifth_laziest

,Id,ActivityDate,TotalSteps,TotalDistance,TrackerDistance,LoggedActivitiesDistance,VeryActiveDistance,ModeratelyActiveDistance,LightActiveDistance,SedentaryActiveDistance,VeryActiveMinutes,FairlyActiveMinutes,LightlyActiveMinutes,SedentaryMinutes,Calories
134,2873212765,2016-04-12 12:00 AM,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0,1440,0
240,4319703577,2016-04-09 12:00 AM,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0,1440,0
290,4702921684,2016-04-12 12:00 AM,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0,1440,0
323,6117666160,2016-04-10 12:00 AM,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0,1440,0
412,8253242879,2016-04-12 12:00 AM,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0,1440,0

In [16]:
fifth_laziest.iloc[4:5]

,Id,ActivityDate,TotalSteps,TotalDistance,TrackerDistance,LoggedActivitiesDistance,VeryActiveDistance,ModeratelyActiveDistance,LightActiveDistance,SedentaryActiveDistance,VeryActiveMinutes,FairlyActiveMinutes,LightlyActiveMinutes,SedentaryMinutes,Calories
412,8253242879,2016-04-12 12:00 AM,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0,1440,0

## 12. what is a total accumulative calories burnt for a person find out

In [17]:
df.Calories= df.sum(axis = 1)
df

/var/folders/vr/17bc0vfj6jng59j_txbvmd0r0000gn/T/ipykernel_59213/1298463568.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df.Calories= df.sum(axis = 1)

,Id,ActivityDate,TotalSteps,TotalDistance,TrackerDistance,LoggedActivitiesDistance,VeryActiveDistance,ModeratelyActiveDistance,LightActiveDistance,SedentaryActiveDistance,VeryActiveMinutes,FairlyActiveMinutes,LightlyActiveMinutes,SedentaryMinutes,Calories
0,1503960366,2016-03-25 12:00 AM,11004,7.110000,7.110000,0.0,2.57,0.46,4.07,0.00,33,12,205,804,1.503974e+09
1,1503960366,2016-03-26 12:00 AM,17609,11.550000,11.550000,0.0,6.92,0.73,3.91,0.00,89,17,274,588,1.503981e+09
2,1503960366,2016-03-27 12:00 AM,12736,8.530000,8.530000,0.0,4.66,0.16,3.71,0.00,56,5,268,605,1.503976e+09
3,1503960366,2016-03-28 12:00 AM,13231,8.930000,8.930000,0.0,3.19,0.79,4.95,0.00,39,20,224,1080,1.503977e+09
4,1503960366,2016-03-29 12:00 AM,12041,7.850000,7.850000,0.0,2.16,1.09,4.61,0.00,28,28,243,763,1.503975e+09
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
452,8877689391,2016-04-08 12:00 AM,23014,20.389999,20.389999,0.0,11.10,0.63,8.62,0.00,70,29,359,982,8.877718e+09
453,8877689391,2016-04-09 12:00 AM,16470,8.070000,8.070000,0.0,0.00,0.02,8.02,0.00,90,9,289,1052,8.877711e+09
454,8877689391,2016-04-10 12:00 AM,28497,27.530001,27.530001,0.0,21.92,1.12,4.46,0.00,128,46,211,1055,8.877724e+09
455,8877689391,2016-04-11 12:00 AM,10622,8.060000,8.060000,0.0,1.47,0.15,6.37,0.01,18,7,225,1190,8.877704e+09
456,8877689391,2016-04-12 12:00 AM,2350,1.780000,1.780000,0.0,0.00,0.00,1.78,0.00,0,0,58,531,8.877693e+09